In [1]:
# IMPORT DATA

In [2]:
import os
print(os.getcwd())

d:\Personal Projects\Sales Analysis

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [54]:
with open("sales_data_sample.csv", "rb") as f:
    raw_data = f.read()
    print(raw_data[:500])  # Print the first 500 bytes to check encoding

b'ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE\n10107,30,95.7,2,2871,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,NA,Yu,Kwai,Small\n10121,34,81.35,5,2765.9,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678'

In [56]:
import chardet

with open("sales_data_sample.csv", "rb") as f:
    raw_data = f.read()
    result = chardet.detect(raw_data)
    print(result)  # Prints detected encoding

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [60]:
sales = pd.read_csv("sales_data_sample.csv", encoding = "Windows-1252")

In [108]:
# DATA CLEANING AND PREPARATION

In [84]:
sales.shape

(2823, 25)

In [62]:
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [74]:
sales.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [78]:
sales.duplicated().sum()

np.int64(0)

In [96]:
sales.drop(columns="ADDRESSLINE2", inplace=True)

In [98]:
sales["STATE"].fillna("Unknown",inplace = True)
sales["POSTALCODE"].fillna("00000", inplace = True)
sales["TERRITORY"].fillna("Unkwown", inplace = True)

C:\Users\austi\AppData\Local\Temp\ipykernel_30676\861205107.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales["STATE"].fillna("Unknown",inplace = True)
C:\Users\austi\AppData\Local\Temp\ipykernel_30676\861205107.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales["POSTALCODE"].fillna("00000", inplace = True)
C:\Users\austi\AppData\Local\Temp\ipykernel_30676\861205107.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales["TERRITORY"].fillna("Unkwown", inplace = True)

In [104]:
sales.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [106]:
sales.shape

(2823, 24)

In [110]:
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Unkwown,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Unkwown,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,00000,USA,Unkwown,Brown,Julie,Medium

In [114]:
sales["CONTACTNAME"] = sales["CONTACTFIRSTNAME"] + " " + sales["CONTACTLASTNAME"]

In [120]:
sales["STATUS"].unique()

array(['Shipped', 'Disputed', 'In Process', 'Cancelled', 'On Hold',
       'Resolved'], dtype=object)

In [122]:
sales["YEAR_ID"].unique()

array([2003, 2004, 2005])

In [124]:
sales.drop(columns=["CONTACTFIRSTNAME", "CONTACTLASTNAME", "ADDRESSLINE1", "PHONE"], inplace=True)

In [128]:
sales.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,MSRP,PRODUCTCODE,CUSTOMERNAME,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,DEALSIZE,CONTACTNAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,95,S10_1678,Land of Toys Inc.,NYC,NY,10022,USA,Unkwown,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,95,S10_1678,Reims Collectables,Reims,Unknown,51100,France,EMEA,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,95,S10_1678,Lyon Souveniers,Paris,Unknown,75508,France,EMEA,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,95,S10_1678,Toys4GrownUps.com,Pasadena,CA,90003,USA,Unkwown,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,95,S10_1678,Corporate Gift Ideas Co.,San Francisco,CA,00000,USA,Unkwown,Medium,Julie Brown
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,95,S10_1678,Technics Stores Inc.,Burlingame,CA,94217,USA,Unkwown,Medium,Juri Hirano
6,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shipped,4,11,2003,...,95,S10_1678,Daedalus Designs Imports,Lille,Unknown,59000,France,EMEA,Small,Martine Rance
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,...,95,S10_1678,Herkku Gifts,Bergen,Unknown,N 5804,Norway,EMEA,Medium,Veysel Oeztan
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,95,S10_1678,Mini Wheels Co.,San Francisco,CA,00000,USA,Unkwown,Small,Julie Murphy
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,95,S10_1678,Auto Canal Petit,Paris,Unknown,75016,France,EMEA,Medium,Dominique Perrier

In [4]:
# EDA

In [ ]:
# VISUALIZATION

In [10]:
# ANALYSIS

In [12]:
# REPORT AND INSIGHTS